



  <!-- <ul class="nav navbar-nav navbar-right">
           <% #if current_user %>
             <li><%= #link_to "Logout", "/logout", method: :delete %></li>
             <% #else%>
             <li><%= #link_to "Sign Up", "/signup" %></li>
             <li><%= #link_to "Login", "/login" %></li>
             <% #end %>
           </ul> -->