<div class="container">
  <h1>@capstone.student['first_name'] @capstone.student['last_name']</h1>
 <div class="row">
     <div class="col-sm-3">@capstone['screenshot']</div>
     <div class="col-sm-9">
       <h3>@capstone['name']</h3>
       <p>@capstone['description']</p>
     </div>
   </div>
 </div>
</div>





